<configuration>
    <property name="LOG_DIR" value="/sdcard/logback" />

    <!-- Create a logcat appender -->
    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%-5relative [%thread][%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

   <!-- <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            &lt;!&ndash; send 10 log entries per email &ndash;&gt;
            <bufferSize>1000</bufferSize>
        </cyclicBufferTracker>
        <smtpHost>smtp.163.com</smtpHost>
        <smtpPort>465</smtpPort>
        <SSL>true</SSL>
        <username>review_site@163.com</username>
        <password>nvxirhslwminqaup</password>
        <to>sean.du@dudu.tm</to>
        <from>review_site@163.com</from>
        <subject>%date{yyyyMMdd'T'HH:mm:ss.SSS}; %msg%n</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout" />
    </appender>-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="FILE_LAUNCHER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_launcher.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_launcher.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="FILE_STORAGE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_storage.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_storage.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_FRONT_VIDEO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_front_video.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_front_video.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_REAR_VIDEO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_rear_video.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_rear_video.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="FILE_FLOW" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_flow.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_flow.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="FILE_VOICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_voice.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_voice.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_NAVIGATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_navigation.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_navigation.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_CAR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_car.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_car.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="FILE_PHONE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_phone.today.txt</file>
        <encoder>
            <pattern>%date %-5relative [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_phone.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_VOIP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_voip.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_voip.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_CRASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_crash.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_crash.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_COMMONLIB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_commonlib.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_commonlib.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_DEVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_device.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_device.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_CPU" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_cpu.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_cpu.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_SIGNAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_signal.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_signal.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>


    <appender name="FILE_DUMPSYS_ACTIVITY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_dumpsys_activity.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_dumpsys_activity.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_PROCRANK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_procrank.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_prockrank.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_DUDU_UPGRADE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_dudu_upgrade.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_dudu_upgrade.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE_PUSH_KELINLANG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log_push_kelinlang.today.txt</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_push_kelinlang.%d.txt</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="launcher" level="DEBUG">
        <appender-ref ref="FILE_LAUNCHER" />
    </logger>

    <logger name="frontvideo" level="DEBUG">
        <appender-ref ref="FILE_FRONT_VIDEO" />
    </logger>

    <logger name="rearvideo" level="DEBUG">
        <appender-ref ref="FILE_REAR_VIDEO" />
    </logger>

    <logger name="storage" level="DEBUG">
        <appender-ref ref="FILE_STORAGE" />
    </logger>

    <logger name="flow" level="DEBUG">
        <appender-ref ref="FILE_FLOW"/>
    </logger>

    <logger name="voice" level="DEBUG">
        <appender-ref ref="FILE_VOICE" />
    </logger>

    <logger name="navigation" level="DEBUG">
        <appender-ref ref="FILE_NAVIGATION" />
    </logger>

    <logger name="car" level="TRACE">
        <appender-ref ref="FILE_CAR" />
    </logger>

    <logger name="phone" level="DEBUG">
        <appender-ref ref="FILE_PHONE" />
    </logger>

    <logger name="voip" level="DEBUG">
        <appender-ref ref="FILE_VOIP" />
    </logger>

    <logger name="crash" level="ERROR">
        <appender-ref ref="FILE_CRASH"/>
    </logger>

    <logger name="commonlib" level="DEBUG">
        <appender-ref ref="FILE_COMMONLIB"/>
    </logger>

    <logger name="device" level="DEBUG">
        <appender-ref ref="FILE_DEVICE"/>
    </logger>

    <logger name="cpu" level="DEBUG">
        <appender-ref ref="FILE_CPU"/>
    </logger>

    <logger name="signal" level="DEBUG">
        <appender-ref ref="FILE_SIGNAL"/>
    </logger>

    <logger name="dumpsys_activity" level="DEBUG">
        <appender-ref ref="FILE_DUMPSYS_ACTIVITY"/>
    </logger>

    <logger name="procrank" level="DEBUG">
        <appender-ref ref="FILE_PROCRANK"/>
    </logger>

    <logger name="dudu_upgrade" level="DEBUG">
        <appender-ref ref="FILE_DUDU_UPGRADE"/>
    </logger>

    <logger name="kelinlang" level="DEBUG">
        <appender-ref ref="FILE_PUSH_KELINLANG"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="LOGCAT" />
    </root>

</configuration>
